.article {
  display: flex;
  width: 90vw;
  padding-top: 10px;
  margin: 200px auto;
  justify-content: space-between;
}

.image_container {
  margin-top: 15px;
  position: relative;
  width: 40vw;
  height: 60vh;
}

.text {
  font-size: 2.5rem;
  line-height: 30px;
  width: 700px;
  margin: auto 0;
}
