.article {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 80vw;

  @media (min-width: 900px) {
    flex-direction: row;
    padding-top: 10px;
    margin: 100px auto;
    justify-content: space-between;
  }
}

.image_container {
  margin-top: 15px;
  position: relative;
  width: 80vw;
  height: 50vh;
  border-radius: 30px;
  overflow: hidden;

  @media (min-width: 900px) {
    width: 35vw;
    height: 50vh;
  }
}

.text {
  font-size: 2rem;
  line-height: 30px;
  font-weight: none;
  width: 100%;
  margin-top: 15px;

  @media (min-width: 900px) {
    width: 500px;
    margin-top: 0;
    margin: auto 0;
  }
}
