.main {

  section {
    ul {
      display: flex;
      list-style: none;
      font-size: 3rem;
      justify-content: space-evenly;
      height: 20vh;
      align-items: center;
      font-weight: 400;
    }
    div:nth-child(3) {
      @media (min-width: 900px) {
        flex-direction: row-reverse;
      }
    }
  }
}
