.footer {
  background-color: lightgrey;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #2f4858;
  color: white;

  .logo_title {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.8rem;
    margin: 10px 0;
  }
}

.socialMedia_container {
  height: fit-content;
  display: flex;
  gap: 15px;
}
