/* .layout {
  display: flex;
  margin-top: 15px;
}

.header {
  color: #153243;
  font-size: 4rem;
}

.nav {
  min-width: 15vw;
  margin-right: 5px;
}

.ul {
  list-style: none;
  font-size: 2rem;
}

.ul li {
  margin: 5px 0;
  color: #284b63;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.image_container {
  border: 1px solid black;
  width: 500px;
  display: block;
  position: relative;
}

.main_image {
  width: 50vw;
}

.content_text {
  font-size: 2rem;
  margin: 20px 50px;
  color: #284b63;
  line-height: 30px; */

.image_container {
  position: relative;
  width: 50vw;
  height: 60vh;
  border: 1px solid black;
}

.main {
}
