
.main {
  section {
    ul {
      display: flex;
      list-style: none;
      font-size: 5rem;
      justify-content: space-evenly;
      height: 20vh;
      align-items: center;
      font-weight: 400;
      color: #2f4858;
    }
  }
}

.image_container {
  margin-top: 15px;
  position: relative;
  width: 100vw;
  height: 70vh;
}
