.homepage_container {
  .image_container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  section {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 5rem;
      justify-content: center;
      gap: 70px;
      height: 20vh;
      align-items: center;
      font-weight: 400;
      position: absolute;
      top: 40%;
      color: white;
      width: 100vw;
      opacity: 0.9;
      font-weight: 100;

      @media (min-width: 900px) {
        flex-direction: row;
        top: 35%;
        font-size: 6rem;
      }
    }
    div:nth-child(3) {
      @media (min-width: 900px) {
        flex-direction: row-reverse;
      }
    }
  }
}
